body {
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}
.dropdown-menu{
    background-color:  #bb9df3 !important;
}
#titleOne {
  grid-column-start: 2;
  grid-column-end: span 3;
  font-size: 3rem;
  font-weight: 900;
  font-style: oblique;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: oldlace;
  text-align:start !important;
  text-shadow: 2px 2px gray;

}
#frmMenu {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem;
}


.menu_left h3 {
  grid-column-start: 1;

}
.menu_left h3 {
    font-weight: 600;
    font-style: oblique;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: black;
}

.menu_middle h3 {
    font-weight: 600;
    font-style: oblique;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: black;
}

.menu_right h3 {
    font-weight: 600;
    font-style: oblique;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: black;
}

#cart {
  grid-column-start: 2;
  text-align: center;
}

.buttons {
  grid-column-start: 2;
}

#btnOrder, #btn_reload {
    border-radius: 8px;
    text-shadow: 2px grey;
    border-width: 0.5px;
    width: 1.5in;
    height: 32px;
    font-size: 1rem;
    background-color: rgb(224, 238, 249);
}

@media screen and (min-width: 300px) and (max-width: 480px) {
    #frmMenu {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        padding: 4rem;
      }

}